---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';
import ModPreview from '../components/ModPreview.astro';

const featured_mods = [
	"Dredge VR",
	"Cosmic Horror Fishing Buddies"
]
---

<Layout title="DREDGE Mods">
	<main>
		<div class="w-100 justify-content-center d-flex">
			<p class="w-md-50">
				The <strong>DREDGE Mods</strong> website hosts {json.length} <b>unofficial</b> mods for <a href="https://www.dredge.game/">DREDGE</a> 
				 which you can install and play using the <a href="https://github.com/xen-42/DredgeModManager">DREDGE Mod Manager</a>.
			</p>
		</div>


		<br/>

		<Title title="Available Mods" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-md-50">

				<p>Try out one of these featured mods!</p>
				<div class="d-flex justify-content-center mw-100 flex-wrap align-content-around">
					{json.filter(x => featured_mods.includes(x.name)).map((mod : any) => 
						<div class="m-2 w-100">
							<ModPreview mod={mod}/>
						</div>

					 )}
				</div>

				<p>Here are some of the other mods available:</p>
				<p>
					{json.slice().filter(x => !featured_mods.includes(x.name)).sort(() => 0.5 - Math.random()).slice(0, 3).map(x => 
						<li><a href={"/mods/" + x.name.toLowerCase().trim().split(" ").join("_")}><b>{x.name}</b></a> - {x.description}</li>
					)}
				</p>
				<p>See the rest of them <a href="/mods/">here</a>.</p>
			</div>
		</div>

		<br/>

		<Title title="Creating Mods" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-md-50">
				<div class="d-flex">
					<div class="d-flex align-items-center">
						<img src="/images/winch icon.png" class="w-100 ratio ratio-1x1"></img>
					</div>

					<div class="ms-4">
						<p>All the mods available on the site are made possible thanks to the <a href="https://github.com/DREDGE-Mods/Winch">Winch mod loader</a> 
						by <a href="https://github.com/Hacktix">Hacktix</a>.</p>

						<p>
							If you're interested in creating mods yourself, start with the <a href="https://github.com/DREDGE-Mods/WinchModTemplate">Winch Mod Template</a> on GitHub.
							You can then read the Winch <a href=https://github.com/Hacktix/Winch/wiki>documentation</a> 
							or try picking apart the <a href="https://github.com/DREDGE-Mods/Winch/tree/master/Winch.Examples">example mods</a>.
						</p>

						<p>If you have already created a mod and want to add it to the database, click 
							<a href="https://github.com/DREDGE-Mods/DredgeModDatabase/issues/new?assignees=&labels=add-new-mod&projects=&template=add-new-mod.yml&title=%5BYour+mod+name+here%5D">
								here</a>.
						</p>
					</div>
				</div>

			</div>
		</div>

		<br/>

		<Title title="Community" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-md-50">
				<p>Join the DREDGE community modding Discord server for mod support, or if you want to talk about playing and creating mods.</p>
				<BrandLink class="fa-discord" name="Modding Discord" url="https://discord.gg/qFqPuTUAmD" linkClass="link-light" />
			</div>
		</div>

		<br/>

		<Title title="Source Code"/>

		<div class="w-100 justify-content-center d-flex">
			<div class="w-md-50">
				<p>The DREDGE modding ecosystem (and even this website) is made up of open source projects. Click the link below to see how it all works.</p>
				<BrandLink class="fa-github" name="DREDGE Mods GitHub Organization" url="https://github.com/DREDGE-Mods" linkClass="link-light" />
			</div>
		</div>

	</main>
</Layout>


