<div class="d-flex justify-content-center text-white pb-2">

    <div class="d-flex flex-column justify-content-center pe-2 text-center">
        </br>
        <a href="/" class="link-light d-flex justify-content-center text-decoration-none">
            <h2 class="chromatic-aberration">DREDGE Mods</h2>
        </a>
    </div>
</div>